default/OlapGradesV2.json
{
"versionedFlowSnapshot": {
"flow": {
"name": "OLTP_to_OLAP_Grades_ETL_2.4.0",
"description": "Extract, Cleanse, and Load grades from OLTP to OLAP using NiFi 2.x"
},
"flowContents": {
"processGroups": [],
"processors": [
{
"identifier": "proc-query",
"name": "QueryDatabaseTableRecord",
"type": "org.apache.nifi.processors.standard.QueryDatabaseTableRecord",
"position": {"x": 0, "y": 0},
"config": {
"properties": {
"Database Connection Pooling Service": "DBCPConnectionPool-OLTP",
"Table Name": "grades",
"Record Reader": "AvroReader",
"Record Writer": "AvroRecordSetWriter",
"Max Rows Per Flow File": "1000"
}
}
},
{
"identifier": "proc-update",
"name": "UpdateRecord",
"type": "org.apache.nifi.processors.standard.UpdateRecord",
"position": {"x": 350, "y": 0},
"config": {
"properties": {
"Record Reader": "AvroReader",
"Record Writer": "AvroRecordSetWriter",
"Replacement Value Strategy": "Record Path Value",
"/numeric_grade": "${field.value:toUpper():replace('A-', '87'):replace('A', '90'):replace('B+', '83'):replace('B-', '77'):replace('B', '80'):replace('C+', '73'):replace('C-', '67'):replace('C', '70'):replace('D+', '63'):replace('D-', '57'):replace('D', '60'):replace('F', '0'):replace('FA', '0'):replace('P', '40'):replace('WP', '40'):replace('WF', '0'):replaceRegex('^(W|I|NR|FP|NP|IN)$', ''):replaceRegex('^([0-9]+)\.$', '$1')}"
}
}
},
{
"identifier": "proc-put",
"name": "PutDatabaseRecord",
"type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
"position": {"x": 700, "y": 0},
"config": {
"properties": {
"Database Connection Pooling Service": "DBCPConnectionPool-OLAP",
"Table Name": "grades",
"Record Reader": "AvroReader",
"Record Writer": "AvroRecordSetWriter"
}
}
}
],
"connections": [
{
"identifier": "conn-1",
"name": "to UpdateRecord",
"source": {"id": "proc-query", "type": "PROCESSOR"},
"destination": {"id": "proc-update", "type": "PROCESSOR"}
},
{
"identifier": "conn-2",
"name": "to PutDatabaseRecord",
"source": {"id": "proc-update", "type": "PROCESSOR"},
"destination": {"id": "proc-put", "type": "PROCESSOR"}
}
],
"controllerServices": [
{
"identifier": "svc-oltp",
"name": "DBCPConnectionPool-OLTP",
"type": "org.apache.nifi.dbcp.DBCPConnectionPool",
"properties": {
"Database Connection URL": "jdbc:postgresql://localhost:5432/grades",
"Database Driver Class Name": "org.postgresql.Driver",
"Database User": "your_oltp_user",
"Password": "your_oltp_password"
}
},
{
"identifier": "svc-olap",
"name": "DBCPConnectionPool-OLAP",
"type": "org.apache.nifi.dbcp.DBCPConnectionPool",
"properties": {
"Database Connection URL": "jdbc:postgresql://localhost:5432/olapdb",
"Database Driver Class Name": "org.postgresql.Driver",
"Database User": "your_olap_user",
"Password": "your_olap_password"
}
},
{
"identifier": "svc-avro-reader",
"name": "AvroReader",
"type": "org.apache.nifi.avro.AvroReader"
},
{
"identifier": "svc-avro-writer",
"name": "AvroRecordSetWriter",
"type": "org.apache.nifi.avro.AvroRecordSetWriter",
"properties": {
"Schema Write Strategy": "HW_RECORD_SCHEMA"
}
}
]
}
}
}
